@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&display=swap');

:root {
  --primary-color: #1565C0;
  --secondary-color: #BBDEFB;
  --accent1-color: #90CAF9;
  --accent2-color: #42A5F5;
  --accent3-color: #E3F2FD;

  --heading-font: 'Roboto', sans-serif;
  --paragraph-font: 'Open Sans', sans-serif;

  --headline-color-on-white: #1565C0;  /* headlines on a white background */ 
  --headline-color-on-color: #000000; /* headlines on a colored background */ 
  --paragraph-color-on-white: #42A5F5; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #000000; /* paragraph text on a colored background */ 
  --paragraph-background-color: #90CAF9;
  --nav-link-color: #FFFFFF;
  --nav-background-color: #000000;
  --nav-hover-link-color: #BBDEFB;
  --nav-hover-background-color: #1565C0;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  background-color: var(--primary-color);
}

#content {
  padding: 0;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

body {
    margin: 0 auto;
	  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--heading-font);
	color: var(--headline-color-on-white);
  }

  header {
	padding: 10px;
	color: var(--paragraph-color-on-color);
	background-color: var(--paragraph-background-color);
	border: 2px solid white;
	border-radius: 15px;
  }


header > a {
    justify-self: center;
}

main p {
	font-family: var(--paragraph-font);
	color: var(--paragraph-color);
	font-size: 1.4rem;
  }

.logo {
  width: 50px;
	height: 50px;
	border-radius: 50px;
	margin: 0 5px;   
}

.social-media {
    grid-column: 2/3;
    align-self: center;
    justify-content: flex-end;
    display: flex;
	  margin-left: -5px;
}

.icon{
    width: 20px;
    height: 20px;
    margin: 0 2px;
    background-color: white;
    border-radius: 20px;
}


nav button {
    margin: 20px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: black;
}


  nav ul li a:hover {
	color: white;
	background-color: #1565C0;
  }


nav ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}
nav ul li a {
	min-width: 70px;
  display: block;
  padding: 1.5rem 2vw;
  text-decoration: none;
  color: #000000;
  font-size: 1.4rem;
  font-style: italic;
}
nav ul li.active a {
    background-color: rgba(32, 39, 230, 0.2);
} 

nav ul {
    position: fixed;
    left: 100%;
    top: 12rem;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.5s ;
}

.active {
  color:  #1565C0;
  border-bottom: 2px solid rgba(19, 156, 152, 0.5);
}

.active:hover {
  color:  #000000;
}

nav ul.open {
    display: flex;
    left: 0%;
    flex-direction: column;
    background-color: white;
    max-width: 100%;
    transition: 0.5s ;
}


#hamburguerBtn span:nth-child(1){display: block;}
#hamburguerBtn span:nth-child(2){display: none;}

#hamburguerBtn.open span:nth-child(1){display: none;}
#hamburguerBtn.open span:nth-child(2){display: block;}

nav li {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    
}

nav {
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	line-height: .3em;
	font-size: 1em;
    border-radius: 35px;
    z-index: 10;
    
}


#date {
    grid-column: 1/4;
    background-color: rgba(110, 110, 242, 0.5);
    margin-top: 10px;
}

#date h2 {
    margin: 5px 0;
    color: white;
    font-style: italic;
    text-align: center;
    font-size: 1.3em;
	padding: 5px 0;
}


.main {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat( 5, minmax(250px, auto) );
	gap: 10px;
  font-size: 1.1rem;
  justify-content: center;
  text-align: center;
  margin: 15px auto;
  }
  
  .main section, #spotlights {
	background-color: white;
  }
  
  .join, .spot-three {
	display: none;
  }
  
  [class^="spot-"] {
	border: 1px solid transparent;
	min-height: 250px;
  }
  
  .event {
	grid-row: 2/3;
  padding: 10px;
  }
  
  .weather {
	grid-row: 3/4;
  padding: 10px;
  margin: 0 35px;
  }

  footer {
	background-color: var(--paragraph-background-color);
	color: black;
	padding: 20px 20px 0 20px;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-top: 20px;
	text-align: center;
	padding-bottom: 15px;
  }
  

 #medium {
	display: none;
 }

 #large {
	display: none;
 }
  
  #info {
	display: inline-flex;
	font-size: 1.3em;
	color: #000000;
	margin-top: 10px;
	flex-direction: column;
  }

  footer #info, footer #medium, footer #large {
	font-size: 1em;
  }

  footer h3, footer h4 {
	color: #000000;
  font-weight: bolder;
  }

  .address-two h4 {
	margin: 10px 0;
	font-size: 1.2rem;
  font-weight: bolder;
  }

  .address-one h4 {
	font-size: 1.2rem;
  font-weight: bolder;
  }

  .address-one h3 {
	font-size: 1.5rem;
	font-weight: bolder;
  }


  .head {
	display: flex;
	flex-wrap: wrap;
  }

  header h2 {
	font-size: .9rem;
	color: black;
	margin-top: 5px;
  }

  .header h2 span {
	font-size: 1.1rem;
  }

  .foot-logo {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin-bottom: 10px;
  }

  .address-two a {
  text-decoration: none;
	font-size: 1.2rem;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
  }


  hr {
    margin-top: 5px;
  }

  .hero {
    display: grid;
    padding: 0;
  }

  .hero {
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
}

.hero h1 {
  color: black;
  font-size: 1.8rem;
  font-family: var(--heading-font);
  text-shadow: 4px 4px 10px rgb(50, 51, 54);
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.head_join {
  padding: 15px;
  border-radius: 12px;
  position: absolute;
  bottom: 8%;
  right: 5%;
  background-color: #1565C0;
  box-shadow: 5px 5px 25px;;
}

.hero {
  box-shadow: 5px 5px 25px;
}

.head_join a {
  font-size: 1.2rem;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.hero img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


  .weather img {
    width: 110px;
    height: 110px;
  }

  #spotlights img {
    width: 200px;
    height: 200px;
  }

  #spotlights {
    padding: 8px 12px;
    border: 1px solid transparent;
  }

  .spot-one, .spot-two, .spot-three{
    padding: 15px;
    margin-bottom: 10px;
    margin-right: 0;
  }


  #ribbon {
    margin-top: 8px;
  }

  #message {
    margin-top: 20px;
  }

  #star {
    margin: 25px 0;
  }

  .degree {
    display: flex;
    margin-top: 5px;
    justify-content: space-around;
    align-items: center;
    
  }

  .detail {
    text-align: right;
  }

  .detail h4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.6rem;
  }

  .news p {
    margin: 10px 0;
  }

  .news {
    padding: 10px;
  }

  h2 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.9rem;
  }

  section, .join, .join-us, #spotlights, .banner {
    box-shadow: 5px 5px 25px;
  }


.banner {
  padding: 15px;
  display: flex;
  align-items: center;
  margin: 10px 0 0 0;
  background-color: #90CAF9;
  border-radius: 10px;
}

.banner .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0 10px;
}

.banner .banner-body {
  font-size: 1.1rem;
  font-weight: 100;
  margin: 0 0 0 15px;
  flex: 1;
  text-align: center;
}

#more a {
  margin-left: 5px;
  text-decoration: none;
  font-size: 1.1rem;
  color: rgb(15, 1, 68);
}

.image {
border-radius: 15px;
max-width: 100%;
}


figure {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
align-items: center;
margin-bottom: 50px;
}

figcaption {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 10px;
  font-family: var(--paragraph-font);
  padding: 0 20px;
}

.city {
  margin-top: 50px;
}

.modal {
  position: absolute;
  top: 20%;
  left: 28%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  max-width: 50%;
  padding: 25px;
}

.modal::backdrop {
  background-color: #1565C0;
  opacity: .7;
}

.open-button, .close-bton {
  font-weight: bold;
  font-size: 1rem;
  padding: 8px;
}
.open-button{
  margin: 10px;
}
.close-bton {
  margin: 10px 0 0 20px;
}


.modal p {
	margin: 10px;
  font-size: 1.1rem;
  font-family: var(--paragraph-font);
}

.modal h1 {
  font-size: 1.5rem;
  font-family: var(--heading-font);
}


.label {
	font-weight: 700;
  font-size: 1.3rem;
}


#visits {
	color: navy;
	font-weight: bolder;
	font-size: larger;
}

#today {
	color: blue;
}

.photo {
  padding: 0px 15px;
  margin: 0 auto;
}

table,td, th {
  border: 1px solid rgb(199, 197, 197);
  text-align: center;
  padding: 10px;
  border-collapse: collapse;
}

td:nth-child(even) {
  background-color: #eef1f4;
}
th {
  background-color: #42A5F5;
}

.presentation{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

tfoot td {
  text-align: left;
}

td {
  color: #000000;
}

.presentation h1, .presentation h2 {
  font-family: var(--heading-font);
  text-align: center;
  margin: 15px;
}

.presentation h1 {
  font-size: 1.9rem;
}
.presentation h2{
  font-size: 1.7rem;
}

.explain {
  font-family: var(--paragraph-font);
  margin: 10px 0;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.demogra {
  text-align: center;
  font-size: 2.4rem;
}





/* ----------- FORM ---------------*/
.form {
  padding: 0 2%;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
}

form fieldset {
  margin: 2rem 0;
  border: 1px solid #445ba9;
  border-radius: 10px;
  padding: .5rem 2%;
}

form legend {
  color: #1565C0;
  margin: 0 1.3rem;
  padding: 0 .5rem;
  font-size: 1.2rem;
  font-family: var(--heading-font);
  font-weight: bold;
}

form label.top, form div {
  display: block;
  padding-top: 1rem;
  color: #13539c;
  font-size: 1rem;
  font-family: var(--paragraph-font);
}

form label.top input, form label.top select, textarea {
 --webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 30rem;
  background-color: rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
}

form label.sbs {
  display: block;
  padding: .3rem 0;
  color: #555;
}

#membtble {
  display: none;
}

.form {
  display: grid;
  flex-flow: column wrap;
}

#joinform input.submiBtn {
  border: none;
  background-color: #1565C0;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
  font-size: 1rem;
}

/* #joinform {
  max-width: 70%;
} */

#smalmembtble {
margin-top: 10%;
}

form label.top input:required {
  border: red solid 1px;
}

form label.top input:required:hover {
  box-shadow: 5px 5px 25px skyblue;
  
}

form label.top input:required:valid {
  border: green solid 1px;
}

input[type="radio"] {
  margin-right: 1rem;
  width: 15px;
  height: 15px;
}

.form h1 {
  font-size: 1.4rem;
  margin: 25px;
  text-align: center;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-size: 18px;
}

.direct {
  margin: 0 auto;
}

#complog {
  height: 75px;
	max-width: 100%;
}

.cardir {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.cardir article {
	flex-direction: column;
	text-align: center;
}

article {
  margin: 0.25rem;
  padding: 0.35rem;
  background-color: #eee;
  border: 1px solid #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #bbb;
	text-align: center;
}

.menu button {
	padding: .7rem;
  margin: 10px;
	font-weight: 700;
}


.list article img {
	display: none; 
}

.cardir article .detail, .cardir article .details {
  display: none;
}

.cardir article .details {
  display: block;
}

.cardir article .detail, .cardir article .details {
  display: none;
}

.list article:nth-child(even) {
	background-color: #bed;
}

.list{
  display: flex;
  flex-direction: column;
}

.list article {
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  max-width: 100%;
  
}
h1 {
  text-align: center;
}
.cardir h3 {
  font-size: 1rem;
}

.list h2 {
  font-size: 1.2rem;
}


.list article .details {
  display: block;
}
