@media only screen and (min-width: 64em) {
main {
  max-width: 1600px;
}

header {
  grid-template-columns: 250px 1fr 200px;
    
}

nav ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  position: initial;
  justify-content: space-between;
  background-color: white;
}

nav ul li a {
  font-size: 20px;
  font-weight: bolder;
}

.header {
  
  flex-wrap: nowrap;
}

.social-media {
  order: 2;
}


#hamburguerBtn {
  display: none;
}


nav {
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-row: 1;
  order: 1;  
}

.main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat( 3, minmax(320px, auto) );
  grid-template-areas: 
    "event   hero spotlights"
    "weather hero spotlights"
    "join    news spotlights";
}

.hero {
  grid-area: hero;
  padding: 0;
}

.hero h1 {
  font-size: 3.5rem;
}

.head-join a {
  font-size: 1.9rem;
}

.news {
  grid-area: news;
}

.event {
  grid-area: event;
}

.weather {
  grid-area: weather;
  margin: 0;
}

.join {
  grid-area: join;
}

#spotlights {
  grid-area: spotlights;
  flex-direction: column;
  border: 1px solid gray;
}

#spotlights h4 {
  font-size: 1rem;
}

#medium{
  display: none;
}

#large {
  display: block;
}


header h2 {
  font-size: 1.4rem;
  color: black;
  margin-top: 15px;
}

.header h2 span {
  font-size: 1.6rem;
}

.icon {
  width: 35px;
  height: 35px;
  margin: 0 2px;
  background-color: white;
  border-radius: 20px;
}

#date h2 {
  font-size: 1.2em;
  padding: 5px 0;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

.detail h4 {
  font-size: 1.2rem;
  color: #000000;
}

p {
  font-size: 1.2rem;
}

#info {
  font-size: 1.1em;
  }

footer #large {
  font-size: 1.1em;
}
  

#spotlight-3 {
  display: block;
}

#spotlight-1, #spotlight-2, #spotlight-3 {
  height: 100%;
  width: auto;
}


/* Discover page styles */

.modal {
  position: absolute;
  top: 20%;
  left: 15%;
}

.presentation p, .explain, figcaption {
  width: 70%;
  font-size: 1.3rem;
}


/*--- Join page styles  */

form label.sbs {
  padding: .4rem 0;
}

#form-content {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  max-width: fit-content;
  margin: 0 auto;
  column-gap: 50px;
}

#membtble {
  display: block;
}

#membtble {
  margin: 8% 0 0 0;
}

#smalmembtble {
  display: none;
}



/* Directory page styles */

.list article {
  display: grid;
  grid-template-columns: 1fr 1.3fr 1.1fr .7fr .9fr 1.4fr;
  
}

.list article .detail, .list article .details {
  display: block;
}

}
    