@media only screen and (min-width: 64em) {
    main {
      max-width: 1600px;
      margin: 15px auto;
    }

    header {
        grid-template-columns: 250px 1fr 200px;
        
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        text-align: center;
        position: initial;
        justify-content: space-between;
        background-color: white;
    }

    nav ul li a {
        font-size: 20px;
        font-weight: bolder;
    }

    .header {
        
        flex-wrap: nowrap;
    }

    .social-media {
        order: 2;
    }
    
    
    #hamburguerBtn {
      display: none;
    }
    
    
    nav {
        grid-column: 2/3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        grid-row: 1;
        order: 1;
        
    }
  
  main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat( 3, minmax(320px, auto) );
    grid-template-areas: 
      "event   hero spotlights"
      "weather hero spotlights"
      "join    news spotlights";
  }

  .hero {
    grid-area: hero;
    padding: 0;
  }

  .news {
    grid-area: news;
  }

  .event {
    grid-area: event;
  }

  .weather {
    grid-area: weather;
    margin: 0;
  }

  .join {
    grid-area: join;
  }

  #spotlights {
    grid-area: spotlights;
    flex-direction: column;
    border: 1px solid gray;
  }
  .spot-two {
    margin: 5px 0;
  }

  #spotlights h4 {
    font-size: .8rem;
  }
  .spot-three {
    display: block;
  }

  #medium{
    display: none;
  }

  #large {
    display: block;
    font-size: 1.1rem;
  }


  header h2 {
    font-size: 1.4rem;
    color: black;
    margin-top: 15px;
    }
  
  .header h2 span {
    font-size: 1.6rem;
    }

    .icon{
      width: 35px;
      height: 35px;
      margin: 0 2px;
      background-color: white;
      border-radius: 20px;
  }

  #date h2 {
    font-size: 1.2em;
    padding: 5px 0;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

h4, .detail h4, .detail p{
  font-size: 1.2rem;
}
p{
  font-size: 1.2rem;
}

#info {
	font-size: 1.1em;
  }

  footer #large {
	font-size: .9em;
  }


  .address-two h4, .address-two a {
	font-size: 1.1rem;
  }

  .address-one h4 {
	font-size: 1.1rem;
  }

  .address-one h3 {
	font-size: 1.3rem;
  }

  .foot {
    grid-template-columns: 12% 20% 22%;
    justify-content: center;
}

#temp-value, #temp-unit {
  font-size: 1.8rem;
}

}
    