@media only screen and (min-width: 64em) {

    header {
        grid-template-columns: 250px 1fr 200px;
        
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        text-align: center;
        position: initial;
        justify-content: space-between;
        background-color: rgba(46, 46, 222, .5);
    }

    nav ul li a {
        font-size: 20px;
        font-weight: bolder;
    }

    .header {
        
        flex-wrap: nowrap;
    }
    

    .social-media {
        order: 2;
    }
    
    
    #hamburguerBtn span:nth-child(1){display: none;}
    #hamburguerBtn span:nth-child(2){display: none;}
    
    #hamburguerBtn.open span:nth-child(1){display: none;}
    #hamburguerBtn.open span:nth-child(2){display: none;}
    
    
    
    nav {
        grid-column: 2/3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        grid-row: 1;
        order: 1;
        
    }
  
  main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat( 3, minmax(250px, auto) );
    grid-template-areas: 
      "event   hero spotlights"
      "weather hero spotlights"
      "join    news spotlights";
  }

  .hero {
    grid-area: hero;
  }

  .news {
    grid-area: news;
  }

  .event {
    grid-area: event;
  }

  .weather {
    grid-area: weather;
  }

  .join {
    grid-area: join;
  }

  #spotlights {
    grid-area: spotlights;
    flex-direction: column;
  }

  .spot-three {
    display: block;
  }

  #medium{
    display: none;
  }

  #large {
    display: block;
    font-size: 1.5rem;
  }

}
    