@media only screen and (min-width: 32.5em) {
    .main {
        display: grid;
        grid-template-columns: 3fr 2fr;
      }
    
      .weather, .join {
        display: block;
      }
    
      .hero {
        grid-column: span 2;
      }

      .hero h1 {
        font-size: 3rem;
      }

      .head_join a {
        font-size: 1.7rem;
      }
    
      .news {
        grid-column: span 2;
        order: 1;
      }
    
      .join {
        display: block;
        order: 3;
      }
    
      #spotlights {
        grid-column: span 2;
        display: flex;
        column-gap: 10px;
        order: 2;
      }
    
      [class^="spot-"] {
        min-width: 50%;
      }
    
      .event {
        grid-row: auto;
        order: 5;
      }
      
      .weather {
        grid-row: auto;
        order: 5;
        margin-right: 0;
      }
    
      .join {
        grid-row: 4/5;
        grid-column: 1/3;
        padding: 15px;
      }
      
      .join-us {
        border: 2px solid transparent;
        padding: 10px;
        border-radius: 15px;
        margin: 0 10px;
        background-color: #1565C0;
        margin: 5px 0 45px 0;
      }
    
      .join-us a {
        text-decoration: none;
        font-size: 1.8rem;
        color: black;
        font-weight: bold;
      }
      
#info {
    display: none;
   }
   

  #medium {
    display: inline-flex;
    flex-flow: column wrap;
    font-size: 1.5rem;
  }

  #large {
    display: none;
  }

  hr {
    margin: 10px 0;
  }

  .foot {
    display: grid;
    grid-template-columns: 110px 1fr 1fr;
  }


#spotlight-1, #spotlight-2 {
    width: 50%;
}

  .logo {
    width: 90px;
	height: 90px;
	border-radius: 50px;
	margin: 0 5px;   
}

.icon{
    width: 38px;
    height: 38px;
    margin: 0 2px;
    background-color: white;
    border-radius: 20px;
}

nav button {
    font-size: 2.5rem;

}

nav ul {
    padding: 10px;
}
nav ul li a {
	min-width: 90px;
    padding: 2rem 3vw;
}

nav li {
    font-size: 2em;

    }

    header h2 {
        font-size: 1.5rem;
        margin-top: 12px;
      }
    
      .header h2 span {
        font-size: 1.8rem;
      }

      #date h2 {
        font-size: 2em;
        padding: 5px 0;
    }

      .foot-info{
        font-size: 1.1rem;
      }

      .image:hover {
        box-shadow: 5px 5px 25px;
      }

      .form h1 {
        font-size: 2.2rem;
      }

      input[type="radio"] {
        width: 16px;
        height: 16px;
      }

      form label.top, form div {
        font-size: 1.2rem;
      }

      form legend {
        font-size: 1.5rem;
      }

      form input.submiBtn {
        font-size: 1.3rem;
        margin: 0 0 2rem ;
      }

      .list article {
        display: grid;
        grid-template-columns: 1fr 1.2fr 1.2fr 1.5fr;
        
    }


    .contact {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 25px;
    }
    
    .address, .infoContact, .follow{
      margin: 5px;
    }
    .contact-us {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    
}   

  