@media only screen and (min-width: 32.5em) {
    .foot {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .flogo {
        display: flex;
    }

    .flogo h3 {
        margin: 2.7ch 0 0 1ch;
    }

    .logo {
        width: 60px;
          border-radius: 50px;
          margin: 0 5px;   
      }

      .primaryNav {
        top: 29ch;
      }

      #medium {
        display: block;
      }

      #info, #large{
        display: none;
     }

     .bountiful-banner h1{
      width: 30ch;
     }

     .comp {
      font-size: 2rem;
    }
    
    .moto {
      font-size: 1.4rem;
      font-style: italic;
    }

     .welcome {
      font-size: 1.7rem;
    }

     .coastal-weather {
      display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
     }

     #formcontent {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      column-gap: 25px;
    }

    .display-result {
      margin-top: 45ch;
    }

    .final-Story {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 25px;
    }

    .final-Story img {
      width: 100%;
    }

    .story-contact {
      margin: 10ch 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 8ch;
      
    }
}